/* .backgroundimg{
    text-align: center;
  min-width: 100%;
  min-height: 670px;
  background-size: cover;
  background-size: auto;
  background-size: 1750px 950px;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/free-photo/technology-communication-icons-symbols-concept_53876-120314.jpg");
} */


.logheight{
    margin-top: 70px;
}