body {
  margin: 0px;
  padding: 0px;
  /* background-color: lightgray; */
    /* text-align: center; */
  /* width: 100;  */
  /* height:100px; */
  background-size: cover;
  /* background-size: auto; */
  /* background-size: 1750px 950px; */
  /* opacity: 0.2; */
  background-repeat: no-repeat;
  
  height: 100vh;
  
  background-image: url("https://img.freepik.com/free-photo/technology-communication-icons-symbols-concept_53876-120314.jpg ");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

