body {
  margin: 0px;
  padding: 0px;
  /* background-color: lightgray; */
    /* text-align: center; */
  /* width: 100;  */
  /* height:100px; */
  background-size: cover;
  /* background-size: auto; */
  /* background-size: 1750px 950px; */
  /* opacity: 0.2; */
  background-repeat: no-repeat;
  
  height: 200px;
  background-image: url("https://img.freepik.com/free-photo/technology-communication-icons-symbols-concept_53876-120314.jpg ");
  
  /* background-image: ; */
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* }
.backgroundimg{
  width: 100%;
  height: 700px  ;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/free-photo/technology-communication-icons-symbols-concept_53876-120314.jpg");
} */
